.card {
    color: white;
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 200px;
    background-color: #1f2937;
    text-align: center;
 }
 
 .cardContainer:after {
    content: "";
    display: table;
    clear: both;
 }
 @media screen and (max-width: 600px) {
    .card {
       width: 100%;
    }
 }